<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>General Statistics about the sightings</title>
    <h2><center>General Statistics about the sightings</center></h2>
    <style type="text/css">
    h2 {color:Black;font-size:60px;font-family:Courier New;}
    body {color:LightBlue; font-size:20px; font-family:Courier New;background-color:#FDF5E6;
    h3 {color:Black;font-size:20px;font-family:Courier New;}}
    </style>

    </head>
    <body>
        <h3>Total_Num: The total number of squirrels in the Central Park at 2018: {{Total_Num}}</h3>
	<h3>Run: The total number of squirrels that are running: {{Run}}</h3>
	<h3>Chase: The total number of squirrels that are chasing: {{Chase}}</h3>
	<h3>Climb: The total number of squirrels that are climbing: {{Climb}}</h3>
	<h3>Eat: The total number of squirrels that are eating: {{Eat}}</h3>

	<a href="{% url 'sightings:home' %}">Click here to go to Home.</a>

    </body>
</html>
